# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Virtual env
.venv/
venv/
env/

# Environment variables — NUNCA commitar
.env

# Database local
database.sqlite

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
